@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


body{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', Sans-serif;
background-color: ghostwhite;
}




.card1
{
	position: absolute;
	margin-top: 7%;
	transform: translate(-50%;-50%);
	width: 340px;
	height: 400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;
margin-left: 30%;
 box-shadow: 0 15px 50px 0 rgba(0,0,0,1),0 7px 20px 0 rgba(255,255,255,0.56);
}


.card1 .front
{
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
}

.card1:hover .front
{
	transform: rotateX(-180deg);
}


.card1 .back
{
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
}

.card1 .back:before
{
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
}

.card1:hover .back
{
	transform: rotateX(0deg);
}

.card1 .back .details
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;

}

.card1 .back .details h2
{
	font-size: 24px;
	color: white;
	padding: 0;
	margin: 0;
}


.card1 .back .details span
{
	color: #a7a7a7;
	font-size: 16px;


}
/*
.social-icons
{
	display: inline;
	width: 36px;
    height: 36px;
text-align: center;
background: #262626;
color: white;
text-decoration: none;
border-radius: 50%;
transition: 0.5s;
padding: 40%;

}*/





.one
{
	display: inline;
	width: 36px;
    height: 36px;
text-align: center;
background: #262626;
color: white;
text-decoration: none;
border-radius: 50%;
transition: 0.5s;
padding: 3%;

}

.two
{
	display: inline;
	width: 36px;
    height: 36px;
text-align: center;
background: #262626;
color: white;
text-decoration: none;
border-radius: 50%;
transition: 0.5s;
padding: 3%;

}



.three
{
	display: inline;
	width: 36px;
    height: 36px;
text-align: center;
background: #262626;
color: white;
text-decoration: none;
border-radius: 50%;
transition: 0.5s;
padding: 3%;

}





.one:hover
{
	background: #e91e63;

}





.two:hover
{
	background: #e91e63;

}




.three:hover
{
	background: #e91e63;

}


/*-----------------------------------------------------------MEDIA QUERY-------------------------------------------------*/



@media(min-width: 767px) and (max-width: 992px)
{
	.card1
	{
		margin-left: 24%;
	}
}


@media(min-width: 576px) and (max-width: 766px)
{

	.card1
	{
		margin-left: 21%;
	}
}

@media(min-width: 505px) and (max-width: 575px)
{
	.card1
	{
		margin-left: 15%;
	}
}


@media(min-width: 420px) and (max-width: 504px)
{
	.card1
	{
		margin-left: 10%;
	}
}


@media(min-width: 382px) and (max-width: 420px)
{
	.card1
	{
		margin-left: 3%;
	}

}

@media(min-width: 282px) and (max-width: 382px)
{
	.card1
	{
		margin-left: 0%;
	}

}


















